# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg


# Virtual Environment
venv/
venv312/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
#.env
.env.local
.env.*
.env.*.local

#Logs
#logs
#logs/
#*.log

# Database
*.sqlite3
*.db
*.sql

Backups
backups/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Documentation
docs/_build/
*.pdf
docs/

# Jupyter Notebook
.ipynb_checkpoints

# System Files
.DS_Store
Thumbs.db

*.toml
*.txt


#tests/
*.md
*.docx
